{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if posts %}
   
   

<main>
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{{posts.image.url}}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2 style="padding-top: 200px;">{{posts.title}}</h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i> {{posts.user}}</a></li>
                        <li><a href="#"><i class="fa fa-book"></i> {{posts.post_category}}</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> {{ comments|length }} Comment(s)</a></li>
                        <li><a href="#"><i class="fa fa-clock"></i> {{ posts.date }}</a></li>
                    </ul>
                     <p class="excert">
                        {{posts.details|safe}}
                     </p>
                    
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                     </div>
                    
                  </div>
                
               </div>
               <div class="comments-area">
                  <h4>{{ comments|length }} Comment(s)</h4>
                  <div class="comment-list">
                     
                     {% if  comments%}
                     {% for comment in comments %}
                     <div class="single-comment justify-content-between d-flex">
                         <div class="user justify-content-between d-flex">
                             <div class="thumb">
                                 <!-- Display user's profile image if you have it -->
                                 <img src="{% static 'assets/img/comment/comment_1.png'%}" alt="">
                             </div>
                             <div class="desc">
                                 <p class="comment">{{ comment.message }}</p>
                                 <div class="d-flex justify-content-between">
                                     <div class="d-flex align-items-center">
                                         <h5>
                                             {{ comment.name }}
                                         </h5>
                                         <p class="date">{{ comment.date_created|date:"F d, Y at H:i A" }}</p>
                                     </div>
                                     <div class="reply-btn">
                                         <a href="#" class="btn-reply text-uppercase">reply</a>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     {% endfor %}
                     {% else %}
                     <h5 style="color: crimson;">No comment(s) yet</h5>
                     {% endif %}
                 </div>
               </div>
               <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  <form class="form-contact comment_form" method="post" id="commentForm">
                     {% csrf_token %}
                     <!-- Add the post's primary key as a hidden input field -->
                     <input type="hidden" name="post_id" value="{{ post_object.pk }}">
                     <div class="row">
                         <div class="col-12">
                             <div class="form-group">
                                 <textarea class="form-control w-100" name="message" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                             </div>
                         </div>
                         <div class="col-sm-6">
                             <div class="form-group">
                                 <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                             </div>
                         </div>
                         <div class="col-sm-6">
                             <div class="form-group">
                                 <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                             </div>
                         </div>
                     </div>
                     <div class="form-group">
                         <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                 </form>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">Category</h4>
                     <ul class="list cat-list">
                        
                        <ul>
                           {% for cat in cats_with_count %}
                             <li>
                               <a href="{% url 'each_category' cat.pk %}" class="d-flex">
                                 <p>{{ cat.category_name }}</p>
                                 <p>({{ cat.total_posts }})</p>
                               </a>
                             </li>
                           {% endfor %}
                         </ul>
                           
                     </ul>
                  </aside>

                 <aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title">Recent Post</h3>

    {% for post_item in first_four_posts %}
    <div class="media post_item">
        <img style="height: 70px; width:100px" src="{{post_item.image.url}}" alt="post"> {# Assuming the post image names are post_1.png, post_2.png, etc. #}
        <div class="media-body">
            <a href="{% url 'details' post_item.pk %}">
                <h3>{{ post_item.title }}</h3>
            </a>
            <p>{{ post_item.date }}</p>
        </div>
    </div>
    {% endfor %}
</aside>

              
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
</main>



{% endif %}

{% endblock %}